/* position span to show last char */
.a2-password-show-last-char {
  text-align: center;
  width: 20px;
  font-weight: bold;
}

.a2-password-show-last-char + input[type=password] {
  padding-left: 1.25rem;
}

.a2-password-nok {
  color: red;
}

.a2-password-ok {
  color: green;
}

/* default circle icon */
.a2-password-policy-rule:after {
  font-family: FontAwesome;
  display: inline-block;
  width: 1.5ex;
  text-align: center;
  content: "\f00d"; /* cross icon */
  opacity: 0;
}

.a2-password-nok.a2-password-policy-rule:after {
  content: "\f00d"; /* cross icon */
  color: red;
  opacity: 1;
}

.a2-password-ok.a2-password-policy-rule:after {
  content: "\f00c"; /* ok icon */
  color: green;
  opacity: 1;
}

/* Equality check */

.a2-password-nok .a2-password-check-equality-default,
.a2-password-ok .a2-password-check-equality-default {
  display: none;
}

.a2-password-check-equality-matched,
.a2-password-check-equality-unmatched {
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.a2-password-nok .a2-password-check-equality-unmatched,
.a2-password-ok .a2-password-check-equality-matched {
  display: inline;
  opacity: 1;
}

.a2-password-check-equality-default:after,
.a2-password-check-equality-unmatched:after,
.a2-password-check-equality-matched:after {
  font-family: FontAwesome;
  width: 1rem;
  display: inline-block;
}
.a2-password-check-equality-default:after {
  content: "\f00d"; /* cross icon */
  opacity: 0;
}

.a2-password-check-equality-unmatched:after {
  content: "\f00d"; /* cross icon */
}

.a2-password-check-equality-matched:after {
  content: "\f00c"; /* ok icon */
}
