/* position span to show last char */
.a2-password-show-last-char {
  text-align: center;
  width: 20px;
  font-weight: bold;
}

.a2-password-show-last-char + input[type=password] {
  padding-left: 1.25rem;
}

.a2-password-policy-container {
  display: block;
  margin-top: 1ex;
  margin-left: 3ex;
}

.a2-password-policy-rule.a2-password-ok {
  color: green;
}

.a2-password-policy-rule {
  display: inline-block;
  width: 17ex;
}

.a2-password-policy-rule::after {
  font-family: FontAwesome;
  display: inline-block;
  width: 2rem;
  text-align: center;
  content: none;
}

.a2-password-ok.a2-password-policy-rule::after {
  content: "\f00c"; /* ok icon */
  color: green;
}

/* Equality check */

.a2-password-nok .a2-password-check-equality-default,
.a2-password-ok .a2-password-check-equality-default {
  display: none;
}

.a2-password-check-equality-matched,
.a2-password-check-equality-unmatched {
  display: none;
}

.a2-password-nok .a2-password-check-equality-unmatched,
.a2-password-ok .a2-password-check-equality-matched {
  display: inline;
}
