{% extends "authentic2/base-page.html" %}
{% load i18n %}

{% block page-title %}
  {{ block.super }} - {{ view.title }}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="{% url "account_management" %}">{% trans "Your account" %}</a>
  <a href="#">{{ view.title }}</a>
{% endblock %}


{% block content %}
<form method="post">
  {% csrf_token %}
  <p>{% trans "Delete my account and all my personal datas ?" %}</p>
  {{ form.as_p }}
  <button class="delete-button" name="submit">{% trans "Delete" %}</button>
  <button class="cancel-button" name="cancel">{% trans "Cancel" %}</button>
</form>
{% endblock %}
