{% extends "authentic2/base-page.html" %}
{% load i18n %}

{% block page-title %}
  {{ block.super }} - {{ view.title }}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="..">{% trans "Your account" %}</a>
  <a href="">{{ view.title }}</a>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.instance and form.instance.id %}
      <button class="submit-button">{% trans "Submit" %}</button>
      <button class="cancel-button" name="cancel" formnovalidate>{% trans "Cancel" %}</button>
    {% else %}
      <button class="submit-button">{% trans "Create" %}</button>
    {% endif %}
  </form>
{% endblock %}
