{% load i18n staticfiles %}
<div>
<form method="post" action="">
{% csrf_token %}
{{ form.as_p }}
<button class="submit-button" name="{{ submit_name }}">{% trans "Log in" %}</button>
{% if cancel %}
<button class="cancel-button" name="cancel">{% trans 'Cancel' %}</button>
{% endif %}
</form>
</div>

<div class="login-actions">
{% if can_reset_password %}
<p>→ {% trans "Forgot password?" %} <a href="{% url 'password_reset' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}">{% trans "Reset it!" %}</a></p>
{% endif %}
{% if registration_authorized %}
  <p>→ {% trans "Not a member?" %} <a href="{{ registration_url }}">{% trans "Register!" %}</a></p>
{% endif %}
</div>

<script type="text/javascript" src="{% static "authentic2/js/js_seconds_until.js" %}" async></script>
