{% extends "authentic2/base-page.html" %}
{% load i18n gadjo static %}

{% block page-title %}
  {{ block.super }} - {% trans "Logout" %}
{% endblock %}

{% block bodyargs %}
  data-next-url="{{next_url}}" data-redir-timeout="{{redir_timeout}}"
{% endblock %}

{% block extrascripts %}
  {{ block.super }}
  <script src="{% xstatic 'jquery' 'jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static "authentic2/js/logout.js" %}"></script>
{% endblock %}

{% block user-links %}
{% endblock %}

{% block content %}
  <h2>{% trans message %}</h2>
  <ul class="logout-list">
      {% for fragment in logout_list %}
          {{ fragment|safe }}
      {% endfor %}
  </ul>

  <div id="continue-link">
    <a href="{{ next_url }}">{% trans "Continue logout" %}</a>
  </div>
{% endblock %}
