{% extends "gadjo/base.html" %}
{% load i18n staticfiles %}
{% load firstof from future %}

{% block bodyargs %} class="{% block bodyclasses %}{% endblock %}"{% endblock %}

{% block page-title %}{% firstof manager_site_title site_title "Authentic2" %}{% endblock %}
{% block site-title %}{% firstof manager_site_title site_title "Authentic2" %}{% endblock %}

{% block logout-url %}{% url 'auth_logout' %}{% endblock %}

{% block appbar %}
  <h2>{% block page_title %}{{ title }}{% endblock %}</h2>
{% endblock %}

{% block extrascripts %}
  {{ block.super }}
  <script>
    window.csrf_token = '{{ csrf_token }}';
  </script>
{% endblock %}

{% block homepage-url %}{% url 'auth_homepage' as default_homepage_url %}{% firstof manager_homepage_url default_homepage_url %}{% endblock %}

{% block homepage-title %}{% trans 'Homepage' as default_homepage_title %}{% firstof manager_homepage_title default_homepage_title %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  {% if not manager_homepage_url %}
  <a href="{% url 'a2-manager-homepage' %}">{% trans 'Administration' as default_site_tile %}{% firstof manager_site_title default_site_tile %}</a>
  {% endif %}
{% endblock %}
