{% extends "authentic2/manager/base.html" %}
{% load i18n %}

{% block beforecontent %}
{% endblock %}

{% block appbar %}
  <h2>{% blocktrans %}Here you can manage objects related to organizational units, users, roles and applications.{% endblocktrans %}</h2>
  {% if user.is_superuser %}
  <span class="actions">
  <a class="extra-actions-menu-opener"></a>
  <ul class="extra-actions-menu">
    <li><a href="{% url 'a2-manager-site-export' %}">{% trans 'Export Site' %}</a></li>
    <li><a href="{% url 'a2-manager-site-import' %}">{% trans 'Import Site' %}</a></li>
  </ul>
  </span>
  {% endif %}
{% endblock %}

{% block content %}
  <ul class="apps">
    {% for entry in entries %}
      <li {% if entry.class %}class="{{ entry.class }}"{% endif %}>
          <a href="{{ entry.href }}">{{ entry.label }}</a>
      </li>
    {% endfor %}
  </ul>
  <br style="clear: both;"/>
{% endblock %}
