{% extends "authentic2/manager/base.html" %}
{% load i18n staticfiles django_tables2 %}

{% block page-title %}{{ block.super }} - {% trans "Services" %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="{% url 'a2-manager-services' %}">{% trans 'Services' %}</a>
{% endblock %}

{% block sidebar %}
  <aside id="sidebar">
    {% include "authentic2/manager/search_form.html" %}
  </aside>
{% endblock %}

{% block main %}
  {% with row_link=1 %}
    {% render_table table "authentic2/manager/table.html" %}
  {% endwith %}
{% endblock %}
