{% extends "authentic2/base-page.html" %}
{% load i18n %}

{% block page-title %}
  {{ block.super }} - {{ view.title }}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="../..">{% trans "Your account" %}</a>
  <a href="">{{ view.title }}</a>
{% endblock %}

{% block content %}
  <form method="post" action=".">
    {% if user.has_usable_password %}
    <p>{% blocktrans %}To change your password you must provide your current password, then provide
    the new password and confirm it.
    {% endblocktrans %}</p>
    {% else %}
    <p>{% blocktrans %}You are going to define your account password.{% endblocktrans %}</p>
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <button class="submit-button">{% trans 'Submit' %}</button>
    <button class="cancel-button" name="cancel" formnovalidate>{% trans "Cancel" %}</button>
  </form>
{% endblock %}
