{% extends "authentic2/base-page.html" %}
{% load i18n %}
{% load breadcrumbs %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}


{% block title %}
    {% trans "Registration" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_url 'Register' %}
{% endblock %}

{% block content %}
      <h2>{% trans "Registration" %}</h2>
      <p>{% trans "Please fill the form to complete your registration" %}</p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit-button">{% trans 'Submit' %}</button>
      </form>
{% endblock %}
